
  .container{
    padding: 50px 0;
  }
  
  
  .header_gallery_container
  {
    background-image: url(../../../assets/photo/header1.jpg);
      left: 0;
      bottom: 0;
      width: 100%;
  }
  .current_page
  {
      font-size: 30px;
      font-weight: bold;
      color: #000;
      line-height: 0.75;
  }
  #sidebar{
    font-size: 16px;
    color: #000;
  }
  
  #sidebar li.active {
    border:0 #ccc solid;
    border-right-width:5px;
  }
  
  .head-gallery{
    min-height: 200px;
    max-width: auto;
  }
  
  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.8s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  }
  .hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .card:hover {
    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /* transform: scale(1.15); */
  }
  
  .clearfix-1{
    padding: 20px;
    margin-top: 10px;
  }
  .card .card-img-top{
    height: 220px;
    width: 280px;
  }
  
 
  .list-color{
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .list-group-item:hover{
    background-color: #ccc;
    color:#000;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
