<nav class="navbar sticky-top navbar-expand-lg navbar-dark secondary-color">
  <a class="navbar-brand">
    <div class="container1"></div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " [routerLinkActive]="['active']">
        <a class="nav-link " routerLink="/home" [innerHTML]="'Home' | translate"><span
            class="sr-only">(current)</span></a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" [innerHTML]="'Committee Departments' | translate"></a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" *ngFor="let deptData of deptData;"
            [routerLink]="['/department-details' , deptData._id]" translate>{{deptData.nameEn}}
          </a>
        </div>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" (click)="clearLocalStorage()">
        <a class="nav-link" routerLink="organization" routerLinkActive="active" translate>Organization Structure</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" (click)="clearLocalStorage()">
        <a class="nav-link" routerLink="publications" routerLinkActive="active" translate>Publications</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" (click)="clearLocalStorage()">
        <a class="nav-link" routerLink="friendly-sites" routerLinkActive="active" translate>Friendly Sites</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" (click)="clearLocalStorage()">
        <a class="nav-link" routerLink="gallery" routerLinkActive="active" translate>Gallery</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" (click)="clearLocalStorage()">
        <a class="nav-link" routerLink="about-us" routerLinkActive="active" translate>About Us</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" (click)="clearLocalStorage()">
        <a class="nav-link" routerLink="contact-us" routerLinkActive="active" translate>Contact Us</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isAdmin" (click)="clearLocalStorage()">
        <a class="nav-link" routerLinkActivate="active" routerLink="admin" translate>Admin Panel</a>
      </li>
    </ul>

  </div>
</nav>