
<div class="header_section-organization">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_content ">
                    <div class="current_page"><span translate>Organization Structure</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container Section-Structure">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="list-color" translate>The Egyptian National Commission for Education, Science and Culture</div>
            <div id="line1"></div>
            <div class="list-color" translate>Minister of Higher Education Chairman</div>
            <div id="line1"></div>
            <div class="list-color" translate>Secretary General Chairman</div>
            <div id="line1"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div id="line2"></div>
    <div id="line1"></div>
    <div class="col-12">
        <div class="card-deck">
            <div class="box-1" translate>General Secretary Chairman</div>
            <div class="box-2" translate>Executive Bureau Chairman</div>
            <div class="box-3" translate>General Assemply Chairman</div>
            <div class="box-4" translate>Working Committees Chairman</div>
        </div>
    </div>
    <div id="line1"></div>
    <div id="line2"></div>
    <div id="line1"></div>
    <!-- <br> -->
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="list-color" translate>Assistant Secretary General</div>
        </div>
        <div class="col-3"></div>
    </div>
    <div id="line1"></div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-5">
            <div class="list-color" translate>Education Department</div><div id="line1"></div>
            <div class="list-color" translate>Culture Department</div><div id="line1"></div>
            <div class="list-color" translate>Science and Technology Department</div><div id="line1"></div>
            <div class="list-color" translate>Organization affairs Department</div><div id="line1"></div>
            <div class="list-color" translate>Communication Department</div><div id="line1"></div>
            <div class="list-color" translate>Information Documentation Center</div><div id="line1"></div>
            <div class="list-color" translate>Administrative and Financial Affairs Department</div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

