<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-pause="false" data-interval="2000" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('assets/image/image001.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4" translate>Nile River Egypt</h2>
          <p class="lead" translate>The magic of fresh water is mixed with nature</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('assets/image/image002.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4" translate>Egyptian pyramids</h2>
          <p class="lead" translate>Where originality and highness</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('assets/image/image003.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4" translate>Temple of Philae</h2>
          <p class="lead" translate>Civilization and History</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('assets/image/image004.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4" translate>Ras Mohammed National Park</h2>
          <p class="lead" translate>The beauty of nature and the greatness of God</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('assets/image/image005.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4" translate>Rams road in Luxor</h2>
          <p class="lead" translate>The way of the Pharaohs and their glory</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('assets/image/image006.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4" translate>Egyptian manuscripts</h2>
          <p class="lead" translate>Egyptian Cultural and Cultural Heritage</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('assets/image/image007.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4" translate>Whale Valley</h2>
          <p class="lead" translate>The vastness of marine creatures from thousands of years</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('assets/image/image008.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4" translate>The Red Sea</h2>
          <p class="lead" translate>The vastness of marine creatures from thousands of years</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image:url('assets/image/image009.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4" translate>The sunken monuments in Alexandria</h2>
        <p class="lead" translate>Egyptian civilization and various ancient times</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only" translate>Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only" translate>Next</span>
        </a>
  </div>

</header>