
<div class="header_about_container">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="home_content ">
          <div class="current_page"><span translate>About Us</span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-12">
      <div class="about">
        <h5 translate>The Egyptian National Commission for Education, Science and Culture</h5>
        <p [innerHTML]="'About the commision text' | translate" translate></p>
      </div>
      <div class="about">
        <h5 translate="Tasks and Missions:"></h5>
        <p [innerHTML]="'Missions text' | translate"></p>
      </div>
    </div>
    <div class="col-6">
      <div class="cart">
        <p translate>Chairman of the Egyptian National Commission for UNESCO</p>
        <p translate="">Dr.Khaled Abd El Ghfar , Minister of Higher Education</p>
        <img alt="Dr. Ashraf El Sheehy Minister of Higher Education " src="assets/photo/Dr.Khaled.jpg">
      </div>
    </div>
    <div class="col-6">
      <div class="cart">
        <p translate>Secretary-General</p>
        <p translate>Prof.Dr. Ghada Abd El Bary </p>
        <img alt="Prof.Dr. Ghada Abd El Bary" src="assets/photo/D.Ghada.jpg">
      </div>

    </div>
    <div class="col-12">
      <div class="asst">
        <p translate>Ass. Secretary-General / Mrs.Zainab Elwakeel </p>
      </div>
    </div>
  </div>
</div>
