
<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="alert alert-danger" role="alert" > 
            <h1 translate>Error !</h1>
            <h2 translate>404 Not Found</h2>
            <div class="error-details" translate>Sorry, an error has occured, Requested page not found!</div>
        </div>
      <div class="error-actions">
        <a routerLink="/home" class="btn btn-danger btn-lg" translate><span class="glyphicon glyphicon-home"></span></a>
      </div>
    </div>
  </div>  
</div>