

<div class="body_container">
    <div class="container spc">
        <div class="row justify-content-center">
            <!-- Default form login -->
            <form #ForgetPassForm="ngForm" (ngSubmit)="ForgetPassForm.valid && onSubmit(ForgetPassForm)"
                class="text-center  bg-form p-5">

                <p class="h4 mb-4" [innerHTML]="'Forgot Password' | translate"></p>
                <!-- <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div> -->

                <!-- Email -->
                <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email"
                    placeholder="{{'E-mail' | translate}}" required id="defaultLoginFormEmail" [pattern]="emailRegex"
                    required [ngClass]="{'invalid-textbox' :ForgetPassForm.submitted && !email.valid }"
                    class="form-control mb-4 rw">


                <div *ngIf="ForgetPassForm.submitted && email.errors" class="alert alert-danger" translate>
                    <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
                    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
                </div>

                <input type="submit" value="Send Code to Email" class="btn btn-info btn-block my-4">

                <!-- Error message -->
                <div class="alert alert-danger" *ngIf="serverErrorMessages && !showErrorMessage">
                    <h5> <strong> {{serverErrorMessages}} </strong> </h5>
                </div>

            </form>
        </div>
    </div>
    <div class="spc"></div>
</div>