
<div class="body_container">
    <div class="container spc">
        <div class="row justify-content-center">
            <!-- Default form login -->
            <form #ChangePassForm="ngForm" (ngSubmit)="ChangePassForm.valid && onSubmit(ChangePassForm)"
                class="text-center  bg-form p-5">

                <p class="h4 mb-4" [innerHTML]="'Change Password' | translate"></p>
                <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>

                <!-- token/code -->
                <input type="text" #token="ngModel" [(ngModel)]="model.token" name="token"
                    placeholder="{{'Code' | translate}}" required id="defaultLoginFormPassword"
                    class="form-control mb-4 rw"
                    [ngClass]="{'invalid-textbox' :ChangePassForm.submitted && !token.valid }">
                <div *ngIf="ChangePassForm.submitted && !token.valid" class="alert alert-danger" translate>
                    <label *ngIf="token.errors.required" class="validation-message">This field is required.</label>
                </div>


                <input type="password" name="newPassword" #newPassword="ngModel" [(ngModel)]="model.newPassword"
                    placeholder="{{'New Password' | translate}}" required minlength="8" class="form-control mb-4"
                    [ngClass]="{'invalid-textbox' :ChangePassForm.submitted && !newPassword.valid }">
                <div *ngIf="ChangePassForm.submitted && newPassword.errors" class="alert alert-danger" translate>
                    <label *ngIf="newPassword.errors.required" class="validation-message">This field is
                        required.</label>
                    <label *ngIf="newPassword.errors.minlength" class="validation-message">Enter at least 8
                        characters.</label>
                </div>

                <input type="submit" value="submit" class="btn btn-info btn-block my-4">


                <!-- Success message -->
                <div class="alert alert-success" *ngIf="showSucessMessage">
                    <strong>Success!</strong> Password is Changed successfully :)
                </div>

                <!-- Error message -->
                <div class="alert alert-danger" *ngIf="serverErrorMessages && !showErrorMessage">
                    <h5> <strong> {{serverErrorMessages}} / Code </strong> </h5>
                </div>
            </form>
        </div>
    </div>
    <div class="spc"></div>
</div>