

<div class="header_FrindlySites_container">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="home_content ">
          <div class="current_page"><span translate>Frindly Sites</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="">
        <embed class="flash-site" src="assets/photo/arabic.swf">
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 ">
      <table class="table">
        <tr>
          <th translate>Arab National Committees Sites</th>
        </tr>
        <tr>
          <td><span translate>Palestinian website text</span>
            <a href="http://www.pncecs.org/ar/">
              http://www.pncecs.org/ar/</a>
          </td>
        </tr>
        <tr>
          <td>
            <span translate>Iraqi website text</span>
            <a href="http://ww1.iraqinatcom.org/">
              http://www.iraqinatcom.org/</a>
          </td>
        </tr>
        <tr>
          <td>
            <span translate>Oman website text</span>
            <a href="http://www.onc.gov.om/">
              http://www.onc.gov.om/</a>
          </td>
        </tr>
        <tr>
          <td>
            <span translate>Lebanese website text</span>
            <a href="https://lncu.org/en/">
              http://www.lncu.org/index.php/en/</a>
          </td>
        </tr>
        <tr>
          <td><span translate>Kuwait website text</span>
            <a href="http://www.kwtnatcom.org">
              http://www.kwtnatcom.org</a>
          </td>
        </tr>
        <tr>
          <td>
            <span translate>Emirates website text</span>
            <a
              href="https://www.moe.gov.ae/Ar/Pages/home.aspx">
              http://www.moe.gov.ae/Pages/main.html</a>
          </td>
        </tr>
        <tr>
          <td>
            <span translate>Tunisian website text</span>
            <a href="http://www.edunet.net/nedu/main/mainForm.do"> WWW.EDUNET.NET</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-1"></div>
  </div>

</div>